<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FreeCodeCampApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FreeCodeCampApp.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
</head>
<body>
    <header id="home">
        <div class="menu-wrap">
            <navbar class="menu" id="navbar">
                <div>
                    <a asp-controller="Home" asp-action="Index"><i class="fa fa-fw fa-home"></i><span>Home</span></a>
                    <a href="#welcome-section"><i class="fa fa-fw fa-quote-left"></i><span>About</span></a>
                    <a href="#service"><i class="fa fa-fw fa-globe"></i><span>Service</span></a>
                    <a asp-controller="Projects" asp-action="Index"><i class="fa fa-fw fa-code"></i><span>Projects</span></a>
                    <a href="#contact"><i class="fa fa-fw fa-envelope"></i><span>Contact</span></a>
                </div>
            </navbar>
        </div>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container text-center">
            <p>All Rights Reserved. &copy; 2024 <a href="https://amaraltech.app/" target="_blank">AmaralTech</a></p>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
