@{
    ViewData["Title"] = "Projects";
}

<div class="hero">
    <h4>Projects</h4>

    <div class="list-group">
        <button type="button" class="list-group-item list-group-item-action active" aria-current="true">
            Responsive Web Design
        </button>
        <button type="button" class="list-group-item list-group-item-action" onclick="OpenProject(1)">Learn HTML by Building a Cat Photo App</button>
    </div>
</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}

<script>
    function OpenProject(id) {
        $.ajax({
            type: "GET",
            url: '/Projects/OpenProject?id=' + id,
            success: function (data) {
                $("#modalContent").html(data);
                $("#projectModal").modal("show");
            },
            error: function (data) {
                alert(data.responseJSON.mensagem);
            }
        });
    }
</script>