<link rel="stylesheet" href="~/css/randomBackgroundColorChanger.css" asp-append-version="true" />
<div class="modal-header">
    <h5 class="modal-title" id="projectRandomBackgroundColorChanger">Learn Basic Debugging by Building a Random Background Color Changer</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>

<div class="modal-body custom-random-background-color-changer" id="random-background-color-changer">
    <div class="alert alert-info small" role="alert">
        This project works with the Math.floor() and Math.random() methods.
        <button class="btn btn-sm btn-outline-primary" type="button" data-bs-toggle="collapse" data-bs-target="#codeExample" aria-expanded="false" aria-controls="codeExample">
            View Code
        </button>
    </div>
    <div class="collapse mt-2" id="codeExample">
        <div class="card card-body bg-light text-monospace">
            <pre><codev>
const darkColorsArr = [
    "#2C3E50",
    "#34495E",
    "#2C2C2C",
    "#616A6B",
    "#4A235A",
    "#2F4F4F",
    "#0E4B5A",
    "#36454F",
    "#2C3E50",
    "#800020",
];

function getRandomIndex() {
    const randomIndex = Math.floor(darkColorsArr.length * Math.random());
    return randomIndex;
}

const body = document.getElementById("random-background-color-changer");
const bgHexCodeSpanElement = document.querySelector("#bg-hex-code");

function changeBackgroundColor() {
    const color = darkColorsArr[getRandomIndex()];

    bgHexCodeSpanElement.innerText = color;
    body.style.backgroundColor = color;
}
const btn = document.querySelector("#btn");

btn.onclick = changeBackgroundColor;
            </codev></pre>
        </div>
    </div>
    <div class="m-2">
        <h1>Random Background Color changer</h1>
        <div>
            <section class="bg-information-container">
                <p>Hex Code: <span id="bg-hex-code">#110815</span></p>
            </section>

            <button class="btn-project-random-color" id="btn">Change Background Color</button>
        </div>
    </div>
</div>

<script src="~/js/randomBackgroundColorChanger.js" asp-append-version="true"></script>