<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
<div class="modal-header">
    <h5 class="modal-title" id="projectJQueryScriptTagsDocumentReadyWork">
        jQuery: Learn How Script Tags and Document Ready Work
    </h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <div class="alert alert-info small" role="alert">
        jQuery is one of the most widely used JavaScript libraries in the world.
        In 2006 when it was released, all major browsers handled JavaScript slightly differently. jQuery simplified the process of writing client-side JavaScript, and also ensured that your code worked the same way in all browsers.
        In this project, you'll learn how to use jQuery to select, remove, clone, and modify different elements on the page.
        <button class="btn btn-sm btn-outline-primary" type="button" data-bs-toggle="collapse" data-bs-target="#codeExample" aria-expanded="false" aria-controls="codeExample">
            View Code
        </button>
    </div>
    <div class="collapse mt-2" id="codeExample">
        <div class="card card-body bg-light text-monospace">
            <pre><codev>
$(document).ready(function() {
    $("#target1").css("color", "red");
    $("#target1").prop("disabled", true);
    $("#target4").remove();
    $("#target2").appendTo("#right-well");
    $("#target5").clone().appendTo("#left-well");
    $("#target1").parent().css("background-color", "red");
    $("#right-well").children().css("color", "orange");
    $("#left-well").children().css("color", "green");
    $(".target:nth-child(2)").addClass("animated bounce");
    $(".target:even").addClass("animated shake");
    $("body").addClass("animated hinge");
  });
            </codev></pre>
        </div>
    </div>
<div class="modal-body">
    <div class="container-fluid">
        <h3 class="text-primary text-center mb-4">jQuery Playground</h3>
        <div class="row">
            <div class="col-6">
                <h4>#left-well</h4>
                <div class="border p-3 rounded" id="left-well">
                    <button class="btn target mb-2 w-100 border" id="target1">#target1</button>
                    <button class="btn target mb-2 w-100 border" id="target2">#target2</button>
                    <button class="btn target mb-2 w-100 border" id="target3">#target3</button>
                </div>
            </div>
            <div class="col-6">
                <h4>#right-well</h4>
                <div class="border p-3 rounded" id="right-well">
                    <button class="btn target mb-2 w-100 border" id="target4">#target4</button>
                    <button class="btn target mb-2 w-100 border" id="target5">#target5</button>
                    <button class="btn target mb-2 w-100 border" id="target6">#target6</button>
                </div>
            </div>
        </div>
    </div>
</div>

 <script src="~/js/jQueryScriptTagsDocumentReadyWork.js" asp-append-version="true"></script>

