@{
    ViewData["Title"] = "Home Page";
}

<div class="hero" id="hero">
    <h1>
        L<span class="char" style="color:#E04343;">e</span>andro<br />
        <span>A<span class="char" style="color:#FFE800">m</span>aral</span>
    </h1>
    <h3><span>Developer</span></h3>
</div>




