<link rel="stylesheet" href="~/css/catPhotoApp.css" asp-append-version="true" />
<div class="modal-header">
    <h5 class="modal-title" id="projectCatPhoto">Learn HTML by Building a Cat Photo App</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body custom-cat-photo-app">
    <h4>Cat Photo App</h4>
    <div>
        <h2>Cat Photos</h2>
        <p>Everyone loves <a href="https://cdn.freecodecamp.org/curriculum/cat-photo-app/running-cats.jpg">cute cats</a> online!</p>
        <p>See more <a target="_blank" href="https://freecatphotoapp.com">cat photos</a> in our gallery.</p>
        <a href="https://freecatphotoapp.com"><img src="https://cdn.freecodecamp.org/curriculum/cat-photo-app/relaxing-cat.jpg" alt="A cute orange cat lying on its back."></a>
    </div>
    <div>
        <h4>Things cats love:</h4>
        <ul>
            <li>Cat nip</li>
            <li>Laser pointers</li>
            <li>Lasagna</li>
        </ul>
        <figure>
            <img src="https://cdn.freecodecamp.org/curriculum/cat-photo-app/lasagna.jpg" alt="A slice of lasagna on a plate.">
            <figcaption>Cats <em>love</em> lasagna.</figcaption>
        </figure>
        <h4>Top 3 things cats hate:</h4>
        <ol>
            <li>Flea treatment</li>
            <li>Thunder</li>
            <li>Other cats</li>
        </ol>
        <figure>
            <img src="https://cdn.freecodecamp.org/curriculum/cat-photo-app/cats.jpg" alt="Five cats looking around a field.">
            <figcaption>Cats <strong>hate</strong> other cats.</figcaption>
        </figure>
    </div>
    <div>
        <h2>Cat Form</h2>
        <form action="https://freecatphotoapp.com/submit-cat-photo">
            <fieldset>
                <legend>Is your cat an indoor or outdoor cat?</legend>
                <label><input id="indoor" type="radio" name="indoor-outdoor" value="indoor" checked> Indoor</label>
                <label><input id="outdoor" type="radio" name="indoor-outdoor" value="outdoor"> Outdoor</label>
            </fieldset>
            <fieldset>
                <legend>What's your cat's personality?</legend>
                <input id="loving" type="checkbox" name="personality" value="loving" checked>
                <label for="loving">Loving</label>
                <input id="lazy" type="checkbox" name="personality" value="lazy">
                <label for="lazy">Lazy</label>
                <input id="energetic" type="checkbox" name="personality" value="energetic">
                <label for="energetic">Energetic</label>
            </fieldset>
            <input type="text" name="catphotourl" placeholder="cat photo URL" required>
            <button type="submit">Submit</button>
        </form>
    </div>
    <div>
        <p>No Copyright - <a href="https://www.freecodecamp.org">freeCodeCamp.org</a></p>
    </div>
</div>

